<!DOCTYPE html>
<html>
<head>
  <title>ren page...</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <div class="container">
      <div class="jumbotron">
        <h1>SSS Maker Studio</h1>
        <p>some text comes here...!</p>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <form class="form" role="form" action="{{ url_for('verify') }}" method="post">
              <div class="g-recaptcha" data-sitekey="6Le3G0kUAAAAABL9eF7NdY_17eQam61cFaMv1kyj"></div>
              <button class="btn" type="submit"><span>Submit</span></button>
            </form>
        </div>
      </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      <footer class="text-center">
        <p>Posted by: </p>
        <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
      </footer>
    </div>
</body>
</html>