body {margin:0}

#sticky-container {
	position:fixed;
	top:20em;
    width: 5.5em;
    height: 18.6em;
    left: -1em;
    border-radius: 0em 1em 1em 0em;
    border: 0.2em solid #000000;
    box-shadow: -2px 0px 5px 8px grey;
    background-color: #555;
}

#sticky-container ul {
    display: block;
    text-align: center;
    padding: 12px;
    transition: all 0.3s ease;
    font-size: 36px;
}

#annoletElems li:hover {
    background-color: white;
    border: 2px solid grey;
    cursor: pointer;
}

#annoletElems li{
	list-style: none;
	width: 1.5em;
	border-radius: 0em 0.2em 0.2em 0em;
	border: 2px solid white;
}

#struct-elem{
	background-color: #f39c9c;
}

#struct{
	width: 1.4em
}

#style-elem{
    background-color: #7575c3;
}

#style{
	width: 1.5em
}

#semantic{
	width: 1.5em
}

#semantic-elem{
    background-color: orange;
}

#save-elem{
	background-color: #cff099;
}

#oprtns-tooltip {
	position: fixed;
	top: 20em;
	left: 6em;
	padding: 1em 2em 1em 3em;
    background-color: #555;
    display: inline-block;
    border: 0.3em solid black;
    border-radius: 1.5em;
    z-index: 999999999999999999999999999;
    display: none;
}

#oprtns-tooltip::after {
    content: "";
    position: fixed;
    top: 20em;
    right: 114.8em;
    margin-top: 2.4em;
    border-width: 1.3em;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#oprtn-listHeader{
	color: wheat;
	font-weight: bold;
}

#oprtns-list{
	border-radius: 1em;
	background-color: white;
}

#oprtns-list li{
	list-style: none;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;
}

#oprtns-list li:hover{
	opacity: 0.5;
}
	
#tooltip {
    display: inline-block;
    display: none;
    padding: 1em 2em 1em 3em;
    background-color: #ab9696;
    border: 0.3em solid black;
    border-radius: 1.5em;
    z-index: 999999999999999999999999999;
    /* Prevent text selection */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#selOprtn, #selNode{
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}







